a {
  text-decoration: none;
}
.main {
  max-width: 100vw;
}
/* 「たくさんの仲間と漫画を語り合う」帯部分 */
.title-contents {
  width: 100%;
  background-image: image-url('26382256_m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}


/* //「たくさんの仲間と漫画を語り合う」帯部分 */


/* 投稿一覧 */

.comic-contents {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.comic-contents > .title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.comic-contents > .subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #1BA69E;
  font-weight: bold;
}

.comic-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comic-lists > .list {
  width: 37vh;
  padding: 1vw;
  background-color:  #EFEFEF;
  border-radius: 20px;
  margin: 1vw;
}

.comic-img-content {
  position: relative;
}

.comic-img {
  width: 33vh;
  height: 33vh;
}

.No-img {
  width: 33vh;
  height: 33vh;
}


.comic-info {
  background-color: #EFEFEF;
  color: black;
  padding: 1vw;
}

.comic-title {
  font-size: 2.5vh;
  text-align: center;
  font-weight: bold;
}

.comic-artist {
  font-size: 2vh;
}

.comic-genre,
.user-name {
  flex: 1 1 100%;
}

/* //投稿一覧 */

