.page-heading {
  margin: 0 auto;
  text-align: center;
  width: 50vw;
  font-size: 30px;
  font-weight: bold;
}

.user-box {
  background-color: wheat;
}

.user-manage {
  display: flex;
  justify-content: center;
}

.user_btn {
  font-size: 20px;
  margin: 0 1vh;
}

.contents-heading {
  font-size: 30px;
  font-weight: bold;
}